main {
  border: 1px solid #a27c9a;
  border-radius: 10px;
  color: #6a6369;
  width: 612px;
  margin: 40px 0 0 40px;
  padding: 0;
}

h1 {
  margin: 10px 0 37px 30px;
}

form {
  display: inline;
}

.city {
  background: #f3e9f3;
  border: 1px solid #a27c9a;
  border-radius: 10px;
  color: #aaa0a9;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  width: 140px;
  box-shadow: 3px 2px 2px;
  outline: none;
}

.search {
  color: #aaa0a9;
  position: relative;
  left: -12px;
  top: 5px;
  transition: all 200ms ease-in-out;
}

.search:focus {
  color: #a27c9a;
  box-shadow: none;
  outline: none;
}

.search:hover {
  color: #a27c9a;
  cursor: pointer;
  text-decoration: none;
}

#city-name {
  font-size: 14px;
}

.cities {
  list-style: none;
  display: inline;
  padding-left: 3px;
}

li {
  color: #aaa0a9;
  display: inline;
  font-size: 15px;
  line-height: 30px;

  margin-right: 20px;
  transition: all 200ms ease-in-out;
}

li:hover {
  color: #a27c9a;
  cursor: pointer;
}

h2 {
  display: inline;
  color: #a27c9a;
  font-size: 30px;
  margin-left: 35px;
  transition: all 200ms ease-in-out;
}

h3 {
  display: inline;
  color: #6a6369;
  font-size: 30px;
  position: absolute;
  left: 130px;
  top: 140px;
}

#celsius {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 181px;
  top: 140px;
}

#or {
  color: #aaa0a9;
  font-size: 14px;
  position: absolute;
  left: 193px;
  top: 139px;
}

#fahrenheit {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 198px;
  top: 140px;
}

.active {
  color: #d8c9d6;
  cursor: pointer;
}

.active:hover {
  color: #a27c9a;
  cursor: pointer;
}

h4 {
  display: inline;
  color: #6a6369;
  font-size: 30px;
  position: absolute;
  left: 214px;
  top: 140px;
}

h5 {
  color: #aaa0a9;
  font-size: 15px;
  line-height: 10px;
  margin-left: 90px;
  margin-top: 5px;
}

h6 {
  color: #a27c9a;
  font-size: 15px;
  line-height: 10px;
  margin-bottom: 40px;
  margin-left: 90px;
}

.details-row {
  margin: 0;
  padding: 0;
}

.details-column {
  margin: 0;
  padding: 0;
}

.row-for-two {
  color: #aaa0a9;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 0;
  padding: 0;
  text-align: left;
}
.min-max-image,
.feels-like-image,
.wind-image {
  color: #aaa0a9;
  font-size: 35px;
  margin-left: 24px;
  padding: 0;
  text-align: left;
}

.humidity-image {
  color: #aaa0a9;
  font-size: 35px;
  margin-left: 22px;
  padding: 0;
  text-align: left;
}

.min-max-a,
.feels-like-a,
.wind-a {
  font-weight: bold;
  color: #6a6369;
  margin-left: 5px;
  padding: 0;
  text-align: left;
}

.humidity-a {
  font-weight: bold;
  color: #6a6369;
  margin-left: 4px;
  padding: 0;
  text-align: left;
}

.min-max-b,
.feels-like-b,
.wind-b {
  margin-left: 5px;
}

.humidity-b {
  margin-left: 4px;
}

.forecast-row {
  margin-left: 43px;
  margin-right: 10px;
}

.forecast-column {
  color: #aaa0a9;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
}

.forecast-day {
  text-align: left;
}

.forecast-image {
  color: #a27c9a;
}

.forecast-temperature {
  text-align: right;
}

a:link {
  color: #d8c9d6;
}

a:visited {
  color: #6a6369;
}

a:hover {
  color: #a27c9a;
  cursor: pointer;
  text-decoration: none;
}

#sarah {
  color: #aaa0a9;
  font-size: 10px;
  margin-left: 410px;
}
